<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:object="${clave_persona}" th:action="@{/persona/resultado}" method="post">
        <label>Nombre</label>
        <input type="text" th:field="*{Nombre}" required><br/>
        <label>Apellido</label>
        <input type="text" th:field="*{apellido}" required><br/>
        <label>Cumpleaños</label>
        <input type="date" th:field="*{fecha}" required><br/>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>